.DS_Store
~$spécification.xlsx
plan/oct nov dec jan/30 septembre.0012.rte
plan/plan sur plan localisation/2 IMPLANTATION NETTOYe pour la municipalite.0002.rte
plan/plan sur plan localisation/2 IMPLANTATION NETTOYe pour la municipalite.0003.rte
plan/plan sur plan localisation/2 IMPLANTATION NETTOYe pour la municipalite.0004.rte
plan/mars/cotation 26 fevrier(Récupération).rte
plan/20 X 40/20x40 cuisine 2.rte
plan/20 X 40/20x40 cuisine 3.rte
plan/20 X 40/20x40 cuisine 4.rte
plan/20 X 40/20x40 cuisine 5.rte
Banque Tangerine 
**/*.*.rte